.wrapper {
    margin: 0 auto;
}

.wrapper p {
    margin-top: 1rem;
    text-align: center;
    transition: all 0.1s ease-in-out;
}

.post {
    max-width: 90vw;
    height: fit-content;
    margin: auto;
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: var(--gray-800);
    display: flex;
    justify-content: flex-start;
    text-align: left;
    color: var(--gray-100);
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 1rem;
    align-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.post > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
}

.post article p {
    text-align: left;
    transition: all 0.1s ease-in-out;
    font-weight: 400;
    font-size: 1rem;
}

.post article > div {
    padding-top: 1rem;
    text-align: left;
    transition: all 0.1s ease-in-out;
    font-weight: 400;
    font-size: 0.675rem;
}