.sidebar {
    height: 200vh;
    top: 0;
    left: 0;
    width: 4rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-800);
    color: var(--white);
    overflow-y: hidden;
}

.sidebarIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    width: 3rem;
    background-color: var(--gray-800);
    color: var(--gray-300);
}

.sidebarIcon:hover {
    background-color: var(--green-300);
    color: var(--white);
}

@media (max-width: 768px) {
    .sidebar {
        width: 100vw;
        height: 3rem;
        flex-direction: row;
    }
}