.loginWrapper {
    display: grid;
    margin: 0 5rem 0;
    max-height: 50vh;
    border-radius: 8px;
    background-color: var(--gray-800);
    color: var(--gray-100);
    text-align: center;
    max-width: 30vw;
    height: 30vh;
}

.loginWrapper h1 {
    font-size: 1.5rem;
    background-color: var(--green-300);
    text-align: center;
    margin: 0 0 0.5rem;
}

.loginWrapper ul {
    display: grid;
    font-size: 0.7rem;
    font-weight: 100;
    margin-bottom: 0.5rem;
    text-align: start;
    padding: 0.5rem 0 0 0.5rem;
}

.loginWrapper li {
    display: inline-flex;
    gap: 0.3rem;
}

.loggedInTools {
    background-color: var(--gray-700);
    text-align: start;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 6rem;
    right: 5rem;
    width: 20rem;
    height: 21rem;
    justify-content: flex-start;
    border-radius: 0 0 8px 8px;
    font-size: 1rem;
}

.loggedInTools header {
    width: 100%;
    padding: 0 1rem;
    background-color: var(--green-300);
    text-align: center;
}

.loggedInTools h1 {
    margin: 0;
    font-size: 0.8rem;
    padding: 2rem;
    text-align: center;
}

@media (max-width: 768px) {
    .loginWrapper {
        margin: 0;
        max-height: 50vh;
        width: unset;
        max-width: unset;
    }

    .loggedInTools {
        position: inherit;
        flex: 1;
        padding: 0;
        align-self: center;
        width: 100%;
    }
}