:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;
  --green-300: #00b37e;
  --green-500: #00875f;

  --red-500: #f75a68;
}

:focus {
  outline: transparent;
  /* box-shadow: 0 0 0 2px var(--green-500); */
}
a:focus {
  outline: transparent;
  box-shadow: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-anchor: initial;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--gray-300);
}
::-webkit-scrollbar-thumb {
  background: var(--green-500);
}

body {
  height: 100vh;
  background: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
body,
input,
textarea,
button,
select:focus,
textarea:focus {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
